h1, p {
  font-family: Lato;
  font-size: 2em;
}
.wrapper {
  line-height: 1.2em;
}

body {
  background-color: #1B2634;
  color: rgb(155, 232, 255);
  margin: 2em;
}
button {
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 0.25em;
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  background-color: rgba(151, 243, 255, 0.9);
  color: rgb(8, 44, 54);
}
button:hover {
  background-color: rgba(151, 243, 255, 0.7);
  color: rgba(8, 44, 54, 0.616);
}
input {
  color: #1B2634;
  padding: 0.5em;
  margin-bottom: 0.25em;
  border: 0px;
  background-color: rgba(151, 243, 255, 0.9);
}